/* Colors: */
$--primary-d1: #47B5FF;
$--primary-m1: #06283D;
$--primary-brand: #1363DF;
$--primary-l1: #DFF6FF;
$--gray-d2: #181C24;
$--gray-d1: #535965;
$--gray-m1: #91959C;
$--gray-l2: #B5B7BC;
$--gray-l1: #E5E5E7;
$--white: #FFFFFF;
$--positive-2: #12805C;
$--positive-1: #268E6C;
$--negative-2: #C9252D;
$--negative-1: #D7373F;
$--unnamed-color-172026: #172026;

.flex {
    display : flex;
}