@import './color';

.header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background:$--primary-brand;

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 9%;
        .nav-items {
            li{
                list-style: none;
                color:$--white;
                float:left;
                padding:10px;
            }
            a{
                color:$--white;
        
                font-size: 1rem;
                margin:0 0.5rem;
        
                &:hover{
                    color: $--primary-m1;
                }
            }
            @media (max-width: 768px) {
                display : none;

                &.active {
                    display:flex;
                    flex-direction: column;
                    position: absolute;
                    width: 100%;
                    max-width: 100%;
                    z-index: 999;
                    background-color:$--primary-brand;
                    height: auto;
                    margin:auto;
                    left:0;
                    padding:2rem 0;
                    top:7rem;
                }
            }
        }
        .hamburger{display:none;
            @media (max-width: 768px) {
                display : block;
                color:$--white;
            }
        }
    }
    
   
    .bagicon{
        color:$--white;
        width:100px;
    }
}